html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    /* background-color: aqua; */
    margin: 0 auto;
    max-width: 980px;
    padding: 0 15px;
}

main>header {
    text-align: center;
}

main>header img.logo {
    width: 150px;
    -webkit-user-drag: none;
    /* display: inline-block;
    margin: auto 0; */
    margin: 50px 0 30px;
}

/* img.logo{
    width: 150px;
} */

/* .logo{
    width: 150px;
} */

main>nav {
    border-top: 2px solid #8f7900;
    border-bottom: 2px solid #8f7900;
    margin: 20px 0;
}

main>nav>ul {
    /* padding: 20px 0; */
    /* display: flex;
    justify-content: space-around; */

    display: flex;
}

main>nav>ul>li {

    /* 這是 display inline-block 的排版方式 */
    /* display: inline-block;
    width: 33.33333%;
    margin-right: -4px; */

    /* 這是 display flex 的排版方式 */
    flex: 1;

    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 25px;
    font-weight: bold;
}

main>nav>ul>li>.nav-item {
    text-decoration: none;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

main>nav>ul>li>.nav-item:hover .nav-child {
    display: block;
    position: absolute;
    background-color: #8f7900;
    width: 100%;
}

main>nav>ul>li>.nav-item>.nav-child a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    line-height: 1.5;
    display: block;
    text-align: left;
    padding: 15px 25px;
}

main>nav>ul>li>.nav-item:hover>.nav-child :hover {
    background-color: #000;
}

main>nav>ul>li>.nav-item:hover {
    background-color: rgba(128, 128, 128, 0.2);
    cursor: pointer;
    display: block;
}

main>nav>ul>li>.nav-item>.en-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 650;
    color: #8f7900;
}

main>nav>ul>li>.nav-item>.nav-child {
    display: none;
}

.content img {
    width: 100%;
}

.content .dm1 {
    padding-top: 10px;
}

.content .dm2 {
    padding-top: 30px;
}


/* shop.html 的 css */

.shop-content>.p-content {
    color: #58595b;
    line-height: 1.5;
    font-weight: bold;
    letter-spacing: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.shop-content>.item-wrap {
    border: 2px solid #8f7900;
}

.shop-content>.item-wrap>.item-row {
    display: flex;
    padding: 15px;
}

.shop-content>.item-wrap>.item-row>div {
    flex: 1;
}

.shop-content>.item-wrap>.item-row>.item-left>img {

}

.shop-content>.item-wrap>.item-row>.item-mid{
    
}

.shop-content>.item-wrap>.item-row>.item-right{
    width: 316px;
}

.shop-content>.item-wrap>.item-row>.item-right>.item-title {
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #8f7900;
}

.shop-content>.item-wrap>.item-row>.item-right>.item-child {
    display: flex;
}

.set {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
    color: #8f7900;
}

#set2 {
    margin-top: 15px;
}

.set-content {
    font-size: 13px;
    line-height: 1.45;
    font-weight: 600;
}

.shop-content>.item-wrap>.item-row>.item-right>.item-child .item-child-right {
    margin-left: 49px;
    height: 50%;
    padding: 10px 15px;
    background-color: #8f7900;
    border-radius: 4px;

}

.shop-content>.item-wrap>.item-row>.item-right>.item-child .item-child-right a {
    text-decoration: none;
    color: #fff;
    font-weight: 900;
}

.shop-content>.item-wrap>.item-row>.item-right>.item-child .item-child-right:hover{
    background-color: #000;
}







@media(max-width:992px) {
    main>nav>ul {
        flex-direction: column;
    }

    main>nav>ul>li {
        width: 100%;
    }

    main>nav>ul>li>.nav-item:hover>.nav-child {
        display: none;
    }
}

@media(min-width:992px) {}